# https://www.kernel.org/pub/software/scm/git/docs/gitattributes.html

/docs export-ignore
/tests export-ignore
/.editorconfig
/.gitattributes export-ignore
/.gitignore export-ignore
/.phplint.yml
/README.md export-ignore
